$dark-red: (
    50 : #f8e1e1,
    100 : #ecb3b3,
    200 : #e08181,
    300 : #d44f4e,
    400 : #ca2928,
    500 : #c10302,
    600 : #bb0302,
    700 : #b30201,
    800 : #ab0201,
    900 : #9e0101,
    A100 : #ffc9c9,
    A200 : #ff9696,
    A400 : #ff6363,
    A700 : #ff4949,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$blue-green: (
    50 : #ebf7f7,
    100 : #ceebec,
    200 : #addedf,
    300 : #8cd0d2,
    400 : #73c6c9,
    500 : #5abcbf,
    600 : #52b6b9,
    700 : #48adb1,
    800 : #3fa5a9,
    900 : #2e979b,
    A100 : #e0feff,
    A200 : #adfbff,
    A400 : #7af9ff,
    A700 : #61f8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$light-red: (
    50 : #ffebea,
    100 : #ffcdcb,
    200 : #ffaba8,
    300 : #ff8985,
    400 : #ff706a,
    500 : #ff5750,
    600 : #ff4f49,
    700 : #ff4640,
    800 : #ff3c37,
    900 : #ff2c27,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd5d4,
    A700 : #ffbcbb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
