$dark-red: (
    50 : #f8e1e1,
    100 : #ecb3b3,
    200 : #e08181,
    300 : #d44f4e,
    400 : #ca2928,
    500 : #c10302,
    600 : #bb0302,
    700 : #b30201,
    800 : #ab0201,
    900 : #9e0101,
    A100 : #ffc9c9,
    A200 : #ff9696,
    A400 : #ff6363,
    A700 : #ff4949,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$blue-green: (
  50 : #e6f3f3,
  100 : #c0e0e1,
  200 : #97cbcd,
  300 : #6db6b9,
  400 : #4da7aa,
  500 : #2e979b,
  600 : #298f93,
  700 : #238489,
  800 : #1d7a7f,
  900 : #12696d,
  A100 : #a3faff,
  A200 : #2e979b, // Used for mat-form-field[appearance=outline]
  A400 : #3df4ff,
  A700 : #24f2ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$light-red: (
    50 : #ffebea,
    100 : #ffcdcb,
    200 : #ffaba8,
    300 : #ff8985,
    400 : #ff706a,
    500 : #ff5750,
    600 : #ff4f49,
    700 : #ff4640,
    800 : #ff3c37,
    900 : #ff2c27,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd5d4,
    A700 : #ffbcbb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
