<form [formGroup]="bindepFormGroup" class="top-p10">
  <ng-template matStepLabel>System Requirements</ng-template>
  <div id="bindeps-container">
    <div class="bindep-entry" *ngFor="let control of bindeps.controls; let i = index">
      <mat-form-field
        color="accent"
        appearance="outline"
      >
        <input matInput [placeholder]="getBindepExample(i)" [formControl]="control">
      </mat-form-field>
      <div class="action-button-wrapper">
        <button mat-icon-button
          color="primary"
          aria-label="Remove bindep."
          (click)="bindeps.removeAt(i)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <button mat-raised-button color="primary" (click)="onAddBindep()">Add<mat-icon>add</mat-icon></button>
  </div>
</form>
