.version-form-group-fields {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.operator-option ::ng-deep > span {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .op-desc {
    transform: scale(.8);
  }
}

.action-button-wrapper {
  padding-bottom: 20px;
}
