#basic-setup-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  mat-form-field {
    max-width: 500px;

    &.with-hint {
      margin-bottom: 12px;
    }
  }
}

.top-p10 {
  padding-top: 10px;
}
