<div class="package-form-container">
  <form [formGroup]="packageGroup">
    <div class="package-form-fields">
      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" required>
      </mat-form-field>

      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-label>Operator</mat-label>
        <mat-select required formControlName="operator" (selectionChange)="onOperatorSelected($event)">
          <mat-select-trigger>{{ operatorTrigger }}</mat-select-trigger>
          <mat-option *ngFor="let op of operators"
            [value]="op.operator"
            class="operator-option"
          >
            <span class="op-name">{{op.operator}}</span>
            <span class="op-desc">{{op.description}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-label>Version</mat-label>
        <input type="text" matInput formControlName="version" [matAutocomplete]="versionAutoComplete">
        <mat-autocomplete #versionAutoComplete="matAutocomplete">
          <mat-option *ngFor="let version of filteredVersions$ | async" [value]="version">
            {{version}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </form>
</div>
