@use '@angular/material' as mat;
@import '../custom-theme.scss';

.container-main {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#container-previews {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.header-file-preview {
  background-color: #1d1d1d;
  padding: 12px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  mat-card-subtitle {
    color: mat.get-color-from-palette($ansible-ee-wizard-accent, 50);
  }
}

#collection-search-container {
  display: flex;
  align-items: center;

  mat-spinner {
    margin-left: 10px;
  }

  mat-hint.warning {
    font-size: 10px;
    color: mat.get-color-from-palette($ansible-ee-wizard-primary, 500);
  }
}

.top-p10 {
  padding-top: 10px;
}

.card-divider {
  margin: 16px 16px;
}

mat-toolbar {
  svg {
    margin-right: 10px;
  }

  &.mat-accent.color-neutral {
    color: white;
  }
}

#bindeps-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .bindep-entry {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    mat-form-field {
      width: -webkit-fill-available;
      max-width: 500px;
    }
  }
}

#add-steps-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .prepend-entry, .append-entry {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    mat-form-field {
      width: -webkit-fill-available;
      max-width: 500px;
    }
  }
}
