<mat-toolbar color="accent" class="color-neutral">
  <svg height="50%" stroke-miterlimit="10" fill="currentColor" style="fill-rule:nonzero;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;" version="1.1" viewBox="0 0 512 512">
    <path d="M260.8456726,115.0143204l89.6253662,221.2051086L215.0935211,229.5816193L260.8456726,115.0143204z M512,256c0,196.3383179-214.0074463,319.7159424-384.2888794,221.546814s-170.2814941-344.9244995-0.000061-443.093689S512,59.6616821,512,256z M420.0633545,387.1765747L282.2013855,55.4023056c-7.2346802-19.6264496-35.9119873-19.2634583-43.3018036,0L87.5868073,419.3171082h51.7616882l59.8983765-150.0432129l178.7501678,144.4087219C399.886322,434.3363647,431.002594,413.5922241,420.0633545,387.1765747z"/>
  </svg>
  <span>Ansible Execution Environment Wizard</span>
</mat-toolbar>

<div class="container-main px-2">
  <!-- BEGIN MAIN ROW -->
  <div class="row gx-2">
    <!-- BEGIN FORM COLUMN -->
    <div id="container-form" class="col-xs-12 col-lg-6 p-2">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Follow the steps below to define your execution environment requirements and auto-generate the files needed for ansible-builder</mat-card-subtitle>
        </mat-card-header>
        <mat-divider class="card-divider"></mat-divider>
        <mat-card-content>
          <mat-vertical-stepper [linear]="false" #stepper>
            <mat-step [stepControl]="basicsFormGroup">
              <ng-template matStepLabel>Basic Setup</ng-template>
              <app-ee-wizard-basic-step [(basicsFormGroup)]="basicsFormGroup"></app-ee-wizard-basic-step>
            </mat-step>
            <mat-step [stepControl]="packageFormGroup">
              <ng-template matStepLabel>Python Requirements</ng-template>
              <app-ee-wizard-packages-step [(packagesFormGroup)]="packageFormGroup"></app-ee-wizard-packages-step>
            </mat-step>
            <mat-step [stepControl]="collectionFormGroup">
              <ng-template matStepLabel>Galaxy Requirements (Collections)</ng-template>
              <app-ee-wizard-collections-step [(collectionsFormGroup)]="collectionFormGroup"></app-ee-wizard-collections-step>
            </mat-step>
            <mat-step>
              <form [formGroup]="bindepFormGroup" class="top-p10">
                <ng-template matStepLabel>System Requirements</ng-template>
                <div id="bindeps-container">
                  <div class="bindep-entry" *ngFor="let control of bindeps.controls; let i = index">
                    <mat-form-field
                      color="accent"
                      appearance="outline"
                    >
                      <input matInput [placeholder]="getBindepExample(i)" [formControl]="control">
                    </mat-form-field>
                    <div class="action-button-wrapper">
                      <button mat-icon-button
                        color="primary"
                        aria-label="Remove bindep."
                        (click)="bindeps.removeAt(i)"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                  <button mat-raised-button color="primary" (click)="onAddBindep()">Add<mat-icon>add</mat-icon></button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="addStepsFormGroup">
              <form [formGroup]="addStepsFormGroup" class="top-p10">
                <ng-template matStepLabel>Additional Build Steps</ng-template>
                <div id="add-steps-container">
                  <div class="prepend-entry" *ngFor="let control of prependSteps.controls; let i = index">
                    <mat-form-field
                      color="accent"
                      appearance="outline"
                    >
                      <input matInput
                        [formControl]="control"
                        [placeholder]="getStepExample(i, 'prepend')"
                      >
                    </mat-form-field>
                    <div class="action-button-wrapper">
                      <button mat-icon-button
                        color="primary"
                        aria-label="Remove prepend step."
                        (click)="prependSteps.removeAt(i)"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                  <button mat-raised-button color="primary" (click)="onAddStep(prependSteps)">Prepend Step<mat-icon>add</mat-icon></button>
                  <hr style="width: 100%">
                  <div class="append-entry" *ngFor="let control of appendSteps.controls; let i = index">
                    <mat-form-field
                      color="accent"
                      appearance="outline"
                    >
                      <input matInput
                        [formControl]="control"
                        [placeholder]="getStepExample(i, 'append')"
                      >
                    </mat-form-field>
                    <div class="action-button-wrapper">
                      <button mat-icon-button
                        color="primary"
                        aria-label="Remove append step."
                        (click)="appendSteps.removeAt(i)"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                  <button mat-raised-button color="primary" (click)="onAddStep(appendSteps)">Append Step<mat-icon>add</mat-icon></button>
                </div>
              </form>
            </mat-step>
          </mat-vertical-stepper>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- END FORM COLUMN -->
    <div id="container-previews" class="col-xs-12 col-md-6 p-2">
      <mat-card>
        <mat-card-header class="header-file-preview">
          <mat-card-subtitle>
            <app-ee-tooltip-popover link="https://ansible-builder.readthedocs.io/en/stable/definition/"></app-ee-tooltip-popover>
            <span>execution-environment.yml</span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <app-ee-config-preview
            [basics]="basicsFormGroup"
            [packages]="selectedPackages"
            [collections]="selectedCollections"
            [bindeps]="bindeps"
            [prependSteps]="prependSteps"
            [appendSteps]="appendSteps"
          >
          </app-ee-config-preview>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="selectedPackages && selectedPackages.length > 0">
        <mat-card-header class="header-file-preview">
          <mat-card-subtitle>requirements.txt</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <app-ee-packages-preview [packages]="selectedPackages">
          </app-ee-packages-preview>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="selectedCollections.length > 0">
        <mat-card-header class="header-file-preview">
          <mat-card-subtitle>requirements.yml</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <app-ee-collections-preview [collections]="selectedCollections">
          </app-ee-collections-preview>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="bindeps.length > 0">
        <mat-card-header class="header-file-preview">
          <mat-card-subtitle>bindep.txt</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <app-ee-bindeps-preview [dependencies]="bindeps">
          </app-ee-bindeps-preview>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- END MAIN ROW -->
</div>
