<h1>Angular Execution Environment Wizard</h1>
<p>Follow the steps below to auto-generate an execution-environment.yml config</p>

<mat-vertical-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="packageFormGroup">
    <form [formGroup]="packageFormGroup">
      <ng-template matStepLabel>Python Requirements</ng-template>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Package</mat-label>
        <input
          matInput
          formControlName="packageSearch"
          type="text"
          [matAutocomplete]="packageAutoComplete"
        >
        <mat-autocomplete #packageAutoComplete="matAutocomplete" (optionSelected)="onPackageSelected($event)">
          <mat-option *ngFor="let package of packages" [value]="package">
            {{package}}
          </mat-option>
          <mat-option *ngIf="package_show_load_more"><span (click)="onPackageLoadMore($event)">Load more...</span></mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <app-pypi-package
      *ngFor="let packageGroup of selectedPackages.controls"
      [packageGroup]="packageGroup"
    ></app-pypi-package>
  </mat-step>
  <mat-step [stepControl]="collectionFormGroup">
    <form [formGroup]="collectionFormGroup">
      <ng-template matStepLabel>Galaxy Requirements (Collections)</ng-template>
      <div id="collection-search-container">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Collection</mat-label>
          <input
            matInput
            formControlName="collectionSearch"
            type="text"
            [matAutocomplete]="collectionAutoComplete"
          >
          <mat-autocomplete #collectionAutoComplete="matAutocomplete" (optionSelected)="onCollectionSelected($event)">
            <mat-option *ngFor="let collection of collections" [value]="collection">
              {{collection}}
            </mat-option>
          </mat-autocomplete>
          <mat-hint align="end" class="warning" *ngIf="!collections_loading && collection_query && collections.length == 0">No collections found</mat-hint>
        </mat-form-field>
        <mat-spinner [diameter]="20" *ngIf="collections_loading"></mat-spinner>
      </div>
    </form>
    <app-galaxy-collection
      *ngFor="let collectionGroup of selectedCollections.controls"
      [collectionGroup]="collectionGroup"
    ></app-galaxy-collection>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
